
/*-----------------------------------------------------------------------

1. GLOBAL STYLES (USED IN VARIOUS SECTION OF THE WEBSITE)

2. COMPONENTS (ELEMENTS USED IN MANY SECTION)

3. PRELOADER

4. HOME


-----------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*  1.1 GENERAL STYLES
/*---------------------------------------------------------------------*/
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0d0c0d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  overflow-x: hidden;
}


/*---------------------------------------------------------------------*/
/* TEXT COLOR
/*---------------------------------------------------------------------*/
.text-grey {
  color: #a1a1a1;
}

.colored-text {
  color: #c80a48;
}


/*---------------------------------------------------------------------*/
/* ANCHOR
/*---------------------------------------------------------------------*/
a {
  color: #c80a48;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #c80a48;
  outline: none;
  text-decoration: none;
}


/*---------------------------------------------------------------------*/
/* HEADING
/*---------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


/*---------------------------------------------------------------------*/
/* COMPONENTS
/* BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
  background-color: #c80a48;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #970837;
}

.btn.btn-custom:hover {
  background-color: #b0093f;
}

.btn.btn-custom > i {
  padding-right: 2px;
}

@media (max-width: 767px) {
  .btn.btn-lg.btn-custom {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
  }
}

.btn.btn-custom.btn-circle {
  width: 48px;
  height: 48px;
  line-height: 46px;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}

.btn.btn-sm.btn-custom.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 38px;
}

.btn.btn-lg.btn-custom.btn-circle {
  width: 54px;
  height: 54px;
  line-height: 52px;
}


/*---------------------------------------------------------------------*/
/* DIVIDER
/*---------------------------------------------------------------------*/
span.divider {
  display: block;
  margin: 35px 0px;
  width: 150px;
  height: 2px;
  background-color: #c80a48;
}

span.divider.center {
  margin-right: auto;
  margin-left: auto;
}


/*---------------------------------------------------------------------*/
/* SELECT BOXES CUSTOM
/*---------------------------------------------------------------------*/
.select2-container--default .select2-selection--single.select2-container-custom {
  background-color: #0d0c0d;
  height: 46px;
  padding: 8px;
  border-color: #3b3b3b;
  border-radius: 0px;
}

.select2-container--default .select2-selection--single.select2-container-custom:focus {
  outline: none;
}

.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__rendered {
  color: #a1a1a1;
}

.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__arrow {
  height: 46px;
}

.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__arrow b {
  border-color: #3b3b3b transparent transparent transparent;
  border-width: 8px 6px 0 6px;
  margin-left: -12px;
  margin-top: -4px;
}

.select2-dropdown-custom {
  background-color: #0d0c0d;
  border-color: #3b3b3b;
  border-radius: 0px;
}

.select2-dropdown-custom .select2-results > .select2-results__options {
  max-height: 400px;
}

.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option {
  padding: 8px 15px;
  color: #a1a1a1;
}

.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option:hover {
  background-color: #212121;
}

.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option--highlighted[aria-selected] {
  background-color: #212121;
}

.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option[aria-selected=true] {
  background-color: #c80a48;
  color: #ffffff;
}


/*---------------------------------------------------------------------*/
/* RADIO BUTTON CUSTOM
/*---------------------------------------------------------------------*/
.form-group .radio {
  margin-bottom: 5px;
  padding-left: 1px;
}

.form-group .radio:last-child {
  margin-bottom: 0px;
}

.form-group .radio > label {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  height: 30px;
  line-height: 30px;
}

.form-group .radio > label:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
}

.form-group .radio input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.form-group .radio input[type=radio]:checked + label:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 10px;
  color: #555555;
  text-align: center;
  line-height: 16px;
}


/*---------------------------------------------------------------------*/
/* CHECKBOX CUSTOM
/*---------------------------------------------------------------------*/
.form-group .checkbox {
  margin-bottom: 5px;
  padding-left: 1px;
}

.form-group .checkbox:last-child {
  margin-bottom: 0px;
}

.form-group .checkbox > label {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  height: 30px;
  line-height: 30px;
}

.form-group .checkbox > label:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  border: 1px solid #3b3b3b;
  border-radius: 1px;
}

.form-group .checkbox input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

.form-group .checkbox input[type=checkbox]:checked + label:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 10px;
  color: #555555;
  text-align: center;
  line-height: 16px;
}


/*---------------------------------------------------------------------*/
/* PRELOADER
/*---------------------------------------------------------------------*/
#jpreOverlay {
  background-color: #0d0c0d;
}

#jpreLoader {
  width: 100%;
  height: 5px;
}

#jpreBar {
  background-color: #c80a48;
}


/*---------------------------------------------------------------------*/
/* HOME
/*---------------------------------------------------------------------*/
header.hero {
  display: table;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 991px) {
  header.hero {
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  header.hero {
    height: calc(100% - 65px);
  }
}

header.hero:before {
  position: absolute;
  content: '';
  z-index: 10;
  width: 100%;
  /*height: 100%;*/
  background: rgba(0, 0, 0, 0.5);
}

header.hero .pattern-overlay {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-home.jpg');
  background-repeat: repeat;
}

header.hero .hero-body {
  position: relative;
  z-index: 15;
  display: table-cell;
  vertical-align: middle;
  padding: 80px 30px;
}

@media (min-width: 480px) {
  header.hero .hero-body {
    padding: 100px 50px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body {
    padding: 0px;
  }
}

header.hero .hero-body .hero-text {
  color: rgba(255, 255, 255, 0.9);
}

header.hero .hero-body .hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 68px;
  }
}

header.hero .hero-body .hero-text h1.small {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 66px;
  }
}

header.hero .hero-body .hero-text h1.small > span.blinker {
  position: relative;
}

header.hero .hero-body .hero-text h1.small > span.blinker:before {
  position: absolute;
  top: 50%;
  left: 8px;
  content: '';
  width: 2px;
  height: 30px;
  margin-top: -15px;
  background-color: #ffffff;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    left: 10px;
    width: 3px;
    height: 40px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    width: 3px;
    height: 50px;
    margin-top: -25px;
  }
}

header.hero .hero-body .hero-text p {
  margin-top: 10px;
  font-size: 20px;
}

header.hero .hero-body .hero-text .page-scroll {
  margin-top: 40px;
}

/*---------------------------------------------------------------------*/
/*  5. NAVIGATION
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
  margin: 0;
  border: 0;
  height: 66px;
  background-color: #171717;
  border-bottom: 1px solid #282428;
  z-index: 1030 !important;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top {
    position: relative;
  }
}

.navbar.navbar-fixed-top .navbar-container {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 65px;
  line-height: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.navbar-fixed-top .navbar-nav > li > a {
  padding-top: 0px;
  height: 40px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 65px;
    line-height: 65px;
  }
}

.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li > a:focus {
  background-color: #171717;
  color: #a1a1a1;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a {
  background-color: #171717;
  color: #c80a48;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
  background-color: #171717;
  color: #c80a48;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
  background-color: #171717;
  color: #c80a48;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown > a:hover {
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a {
  color: #c80a48;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a:hover,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a:hover {
  color: #c80a48;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
  min-width: 180px;
  padding: 10px 0px;
  background-color: #171717;
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    padding-top: 0px;
  }
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a {
  height: 35px;
  line-height: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:hover {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:focus {
  background-color: #171717;
  color: #a1a1a1;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a {
  color: #c80a48;
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:hover,
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:focus {
  color: #c80a48;
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav .caret {
  margin-top: -4px;
}

.navbar.navbar-fixed-top .navbar-toggle {
  background-color: #c80a48;
  border-radius: 3px;
  margin-top: 18px;
}

.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar.navbar-fixed-top .navbar-collapse {
  border: 0;
  max-height: 500px; /* default 340px */
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-collapse {
    border-bottom: 1px solid #282428;
  }
}


/*---------------------------------------------------------------------*/
/*  5.1. NAVIGATION - CENTER MENU
/*---------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav {
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}


/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/
/* Hidden pages */

.hide-section {
  display: none;
  height: 100%;

}

.section .section-wrapper > .section-content {
  padding: 80px 0px;
}

@media (min-width: 768px) {
  .section .section-wrapper > .section-content {
    padding: 100px 0px;
  }
}

.section .section-title {
  margin-bottom: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section .section-subtitle {
  color: #a1a1a1;
  font-size: 18px;
  font-style: italic;
}

.section.bg-image-yes {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 1280px) {
  .section.bg-image-yes {
    background-attachment: fixed;
  }
}

.section.bg-image-yes .container-fluid.section-wrapper {
  position: relative;
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 1170px;
  }
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.section.parallax-yes > .parallax {
  width: 100%;
  height: 100%;
}

.section.parallax-yes > .parallax > .bcg {
  display: table;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 1280px) {
  .section.parallax-yes > .parallax > .bcg {
    background-attachment: fixed;
  }
}

.section.parallax-yes .container-fluid.section-wrapper {
  position: relative;
}

.section.parallax-yes .container-fluid.section-wrapper > .section-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 1170px;
  }
}

.section.parallax-yes .container-fluid.section-wrapper > .section-content:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
