/*-----------------------------------------------------------------------

1. GLOBAL STYLES (USED IN VARIOUS SECTION OF THE WEBSITE)


2. COMPONENTS (ELEMENTS USED IN MANY SECTION)


3. PRELOADER

4. HOME


-----------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*  1.1 GENERAL STYLES
/*---------------------------------------------------------------------*/
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0d0c0d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  overflow-x: hidden;
}


/*---------------------------------------------------------------------*/
/*  TEXT COLOR
/*---------------------------------------------------------------------*/
.text-grey {
  color: #a1a1a1;
}

.colored-text {
  color: #da491c;
}


/*---------------------------------------------------------------------*/
/*  ANCHOR
/*---------------------------------------------------------------------*/
a {
  color: #fff;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #da491c;
  outline: none;
  text-decoration: none;
}


/*---------------------------------------------------------------------*/
/*  HEADING
/*---------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


/*---------------------------------------------------------------------*/
/*  COMPONENTS
/*  BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
  background-color: #da491c;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #ad3a16;
}

.btn.btn-custom:hover {
  background-color: #c34119;
}

.btn.btn-custom > i {
  padding-right: 2px;
}

@media (max-width: 767px) {
  .btn.btn-lg.btn-custom {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
  }
}

.btn.btn-custom.btn-circle {
  width: 48px;
  height: 48px;
  line-height: 46px;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}

.btn.btn-sm.btn-custom.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 38px;
}

.btn.btn-lg.btn-custom.btn-circle {
  width: 54px;
  height: 54px;
  line-height: 52px;
}


/*---------------------------------------------------------------------*/
/*  DIVIDER
/*---------------------------------------------------------------------*/
span.divider {
  display: block;
  margin: 35px 0px;
  width: 150px;
  height: 2px;
  background-color: #da491c;
}

span.divider.center {
  margin-right: auto;
  margin-left: auto;
}


/*---------------------------------------------------------------------*/
/*  PRELOADER
/*---------------------------------------------------------------------*/
#jpreOverlay {
  background-color: #0d0c0d;
}

#jpreLoader {
  width: 100%;
  height: 5px;
}

#jpreBar {
  background-color: #da491c;
}


/*---------------------------------------------------------------------*/
/*  HOME
/*---------------------------------------------------------------------*/
header.hero {
  display: table;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 991px) {
  header.hero {
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  header.hero {
    height: calc(100% - 65px);
  }
}

header.hero:before {
  position: absolute;
  content: '';
  z-index: 10;
  width: 100%;
  /*height: 100%;*/
  background: rgba(0, 0, 0, 0.5);
}

header.hero .pattern-overlay {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-home.jpg');
  background-repeat: repeat;
}

header.hero .hero-body {
  position: relative;
  z-index: 15;
  display: table-cell;
  vertical-align: middle;
  padding: 80px 30px;
}

@media (min-width: 480px) {
  header.hero .hero-body {
    padding: 100px 50px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body {
    padding: 0px;
  }
}

header.hero .hero-body .hero-text {
  color: rgba(255, 255, 255, 0.9);
}

header.hero .hero-body .hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 68px;
  }
}

header.hero .hero-body .hero-text h1.small {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 66px;
  }
}

header.hero .hero-body .hero-text h1.small > span.blinker {
  position: relative;
}

header.hero .hero-body .hero-text h1.small > span.blinker:before {
  position: absolute;
  top: 50%;
  left: 8px;
  content: '';
  width: 2px;
  height: 30px;
  margin-top: -15px;
  background-color: #ffffff;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    left: 10px;
    width: 3px;
    height: 40px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    width: 3px;
    height: 50px;
    margin-top: -25px;
  }
}

header.hero .hero-body .hero-text p {
  margin-top: 10px;
  font-size: 20px;
}

header.hero .hero-body .hero-text .page-scroll {
  margin-top: 40px;
}


/*---------------------------------------------------------------------*/
/*  5. NAVIGATION
/*---------------------------------------------------------------------*/

.navbar.navbar-fixed-top {
  margin: 0;
  border: 0;
  height: 66px;
  background-color: #171717;
  border-bottom: 1px solid #282428;
  z-index: 1030 !important;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top {
    position: relative;
  }
}

.navbar.navbar-fixed-top .navbar-container {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 65px;
  line-height: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.navbar-fixed-top .navbar-nav > li > a {
  padding-top: 0px;
  height: 40px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 65px;
    line-height: 65px;
  }
}

.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  background-color: #171717;
  color: #da491c;
}

.navbar.navbar-fixed-top .navbar-nav > li > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
  background-color: #171717;
  color: #da491c;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown > a:hover {
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
  min-width: 180px;
  padding: 10px 0px;
  background-color: #171717;
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    padding-top: 0px;
  }
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a {
  height: 35px;
  line-height: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar.navbar-fixed-top .navbar-nav .caret {
  margin-top: -4px;
}

.navbar.navbar-fixed-top .navbar-toggle {
  border-radius: 3px;
  margin-top: 18px;
}

.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar.navbar-fixed-top .navbar-collapse {
  border: 0;
  max-height: 500px; /* default 340px */
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-collapse {
    border-bottom: 1px solid #282428;
  }
}


/*---------------------------------------------------------------------*/
/*  5.1. NAVIGATION - CENTER MENU
/*---------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav {
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}


/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/
/* Hidden Pages */

.hide-section {
  display: none;
  height: auto;

}

.show-section {
  display: block;
  height: auto;
}

.section .section-wrapper > .section-content {
  padding: 80px 0px;
}

@media (min-width: 768px) {
  .section .section-wrapper > .section-content {
    padding: 100px 0px;
  }
}

.section .section-title {
  margin-bottom: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section .section-subtitle {
  color: #a1a1a1;
  font-size: 18px;
  font-style: italic;
}

.section.bg-image-yes {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 1280px) {
  .section.bg-image-yes {
    background-attachment: fixed;
  }
}

.section.bg-image-yes .container-fluid.section-wrapper {
  position: relative;
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 1170px;
  }
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}




/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/
#profile {
  background-color: #0d0c0d;
}

@media (min-width: 992px) {
  #profile .section-wrapper > .section-content {
    padding: 0px;
  }
}


/*---------------------------------------------------------------------*/
/*  6.1.1. PROFILE TEXT
/*---------------------------------------------------------------------*/
#profile .profile-text {
  text-align: center;
}

@media (min-width: 768px) {
  #profile .profile-text {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  #profile .profile-text {
    padding-top: 100px;
  }
}

#profile .profile-text h2 {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #profile .profile-text .divider {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  #profile .profile-text.padding-right-yes {
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  #profile .profile-text.padding-left-yes {
    padding-left: 20px;
  }
}


/*---------------------------------------------------------------------*/
/*  6.1.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/
#profile .about-details {
  margin-top: 30px;
}

@media (max-width: 767px) {
  #profile .about-details {
    text-align: center;
  }
}

@media (min-width: 992px) {
  #profile .about-details {
    padding-bottom: 100px;
  }
}

#profile .about-details h4 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

@media (min-width: 480px) and (max-width: 767px) {
  #profile .about-details h4 {
    font-size: 22px;
  }
}

#profile .about-details ul.list-unstyled > li {
  padding: 2px 0px;
  font-size: 16px;
}

@media (min-width: 480px) and (max-width: 767px) {
  #profile .about-details ul.list-unstyled > li {
    padding: 5px 0px;
    font-size: 20px;
  }
}

#profile .about-details a.btn-custom {
  margin-top: 20px;
}

@media (min-width: 768px) {
  #profile .about-details a.btn-custom {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  #profile .about-details.padding-right-yes {
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  #profile .about-details.padding-left-yes {
    padding-left: 20px;
  }
}


/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/
#profile .pp-wrapper {
  position: relative;
}

#profile .pp-wrapper .profile-picture h4 {
  text-transform: uppercase;
}

#profile .pp-wrapper .profile-picture.style-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#profile .pp-wrapper .profile-picture.style-two img {
  margin-top: 100px;
}

#profile .pp-wrapper .profile-picture.style-two .title {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #2e2e2e;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}


/*---------------------------------------------------------------------*/
/*  6.12. SECTION - CONTACT
/*---------------------------------------------------------------------*/
#contact {
  background-color: #0d0c0d;
}


/*---------------------------------------------------------------------*/
/*  6.12.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/
#contact .about-details {
  margin-top: 20px;
  margin-bottom: 40px;
}

#contact .about-details .speech-bubble {
  position: relative;
  width: 170px;
  height: 170px;
  margin: auto;
}

#contact .about-details .speech-bubble > i {
  display: block;
  position: absolute;
  z-index: 5;
  color: #a1a1a1;
  font-size: 170px;
}

#contact .about-details .speech-bubble h4 {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#contact .about-details h2 {
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#contact .about-details h4 {
  margin-top: 10px;
}

#contact .about-details span.divider {
  margin-bottom: 20px;
  width: 60px;
  height: 4px;
}
